.principal-form {
	margin-top: 40px;
}

.title-col {

	background-color: #42A5F5;
	color:#0D47A1;
	padding: 10px;

}

.separator-cel {
	margin-top:20px;
}

.sub-title-form {
	color:#1E88E5;
}

.container-acordion {
	padding: 30px;
}

.custom-file-upload i:hover{
	cursor:pointer;
}


.title-acordion {
	background-color: #42A5F5;
	color:#0D47A1;
}
.arrow-acordion {
	color: black;
}

.info-acordion {
	padding: 10px;
}

.filter-titlte {
	font-weight: 500;
}

.custom-radio-rw {
	margin-right: 0;
}

.container-acordion-mode {
	padding: 20px;
}

.icons-color {
	color:#0D47A1;
}

.uib-typeahead-match a {
	padding: 0 10px;
	text-decoration: none;
	color: black ;
}

.value-color-orange {
	background-color: #FFB74D;
}
.value-color-green {
	background-color: #C5E1A5;
}

.principal-sub-titles {
	margin: 30px 0;
	font-size: 1.2rem;
}


/*.multiselect-parent .dropdown-toggle{
	width: 200px;
	background-color: white;
	border-color: rgb(194, 189, 189);
	border-width: 0.5px;
	
}

.multiselect-parent .dropdown-menu {
	width: 200px;
	
	
  }*/

 